# 30903_김지우_0314_6

# 3.1 데이터를 저장하는 공간 : 변수
## 3.1.1 변수란

In [1]:
a = 10

In [2]:
a = 20

In [3]:
print(a)

20

# 3.1.2 변수에 값을 저장하고 사용하기

In [4]:
a = 10
print('a')
print(a)

a
10

In [5]:
print(가나다)

NameError: name '가나다' is not defined

In [6]:
가나다 = 10
print(가나다)

10

In [7]:
b = '성일'
c = '정보'

In [10]:
print(b+c)
print(b,c)

성일정보
성일 정보

>출력
```
유리 키는 175.5 , 나이는 21 , 취미는 programming 입니다!
제인스 키는 186 , 나이는 24 , 취미는 요리하기 입니다!
```

In [15]:
name = '유리'
height = 175.5
age = 21
hobby = 'programming'
print(name, "키는", height,", 나이는", age, ", 취미는", hobby, "입니다!")

유리 키는 175.5 , 나이는 21 , 취미는 programming 입니다!

In [23]:
name = '제임스'
height = 186
age = 24
hobby = '요리하기'
print(name, "키는", height,", 나이는", age, ", 취미는", hobby, "입니다!")
print('{} 키는 {}, 나이는 {}, 취미는 {} 입니다!'.format(name, height, age, hobby))
print(f'{name} 키는 {height}. 나이는 {age}, 취미는 {hobby} 입니다!')

제임스 키는 186 , 나이는 24 , 취미는 요리하기 입니다!
제임스 키는 186, 나이는 24, 취미는 요리하기 입니다!
제임스 키는 186. 나이는 24, 취미는 요리하기 입니다!

>원의 넓이 구하기
```
공식 : 파이 * 반지름 ** 2
p = 3.141592
r = 5
```

In [28]:
p = 3.141592
r = 5
print(f'원의 넓이 = {p * r ** 2}')

원의 넓이 = 78.5398