# 30903_김지우_0430_4

In [3]:
# 공백으로 문장을 나누는 명령어 (split)
a = '안녕 하세요 반가 워요'
print(a.split())
print(a.split()[0])
print(a.split()[1])
print(a.split()[2])
print(a.split()[3])

['안녕', '하세요', '반가', '워요']
안녕
하세요
반가
워요

In [5]:
# -(하이픈)을 기준으로 split
date = '2024-04-30'
print(date.split('-'))
print(date.split('-')[0])
print(date.split('-')[1])
print(date.split('-')[2])

['2024', '04', '30']
2024
04
30

In [10]:
# 리스트 원소 정렬하기 (sort)
food = ['피자', '치킨', '스테이크', '된장찌개', '바나나', '파스타', '감자칩']

food.sort()
print('정렬 후 :',food)

정렬 후 : ['감자칩', '된장찌개', '바나나', '스테이크', '치킨', '파스타', '피자']

In [11]:
# 리스트 원소 내림차순(역순)으로 정렬하기 sort(reverse = True)
food = ['피자', '치킨', '스테이크', '된장찌개', '바나나', '파스타', '감자칩']

food.sort(reverse = True)
print('역순 정렬 후 :',food)

역순 정렬 후 : ['피자', '파스타', '치킨', '스테이크', '바나나', '된장찌개', '감자칩']

In [16]:
# 역순으로 정렬하고 첫번째 두번째를 출력해 보기
spending_6mon = [25, 36, 8, 53, 24, 56]

spending_6mon.sort(reverse = True)
print(spending_6mon[:2])

[56, 53]

In [25]:
# 리스트 원소 중 최대값, 최소값 찾기 (max, min)
spending_6mon = [25, 36, 8, 53, 24, 56]

print('최대값 :', max(spending_6mon))
print('최소값 :', min(spending_6mon))

# 리스트 원소 전체의 합 (sum)
print('전체합 :', sum(spending_6mon))

# 리스트 안 원소의 위치 찾기 (index)
print('24의 위치 :', spending_6mon.index(24) + 1)

최대값 : 56
최소값 : 8
전체합 : 202
24의 위치 : 5