# 30903_김지우_0830_5

어느 날 한솔이는 혜인이에게 자기가 18살이니 몇 년도에 태어 났는지 맞춰 보라고 했다.

혜인이는 초능력(?)을 발휘해서 한솔이가 몇 년 생인지 한 번에 맞추었다.

한솔이는 깜짝 놀라 셔플 댄스를 추면서 그 자리에서 쓰러지고 말았다.

보다시피 혜인이는 사람의 나이를 알면 출생년도를 마추는 신기한(?) 재주를 가지고 있다.

나이가 주어지면 몇 년도에 태어났는지를 출력하시오. (나이는 2012년도 기준입니다.)

단, 출력할 때 년도 4자리 중 뒤의 두자리만 출력하고, 한 칸 띄운 후 1900년도 출생이면 1을 출력, 2000년대 출생이면 3을 출력하시오.

예) 18살이면 1995년생이므로 95 1을 출력한다.

In [16]:
age = int(input())
birth_year = 2012 - age + 1
year_info = 0

if birth_year < 2000:
    year_info = 1
else:
    year_info = 3
    
birth_year %= 100
print(birth_year, year_info)

18
95 1

학번을 입력 받아 다음 형식으로 출력하시오.

학번은 학년, 반, 번호로 입력된다.

예)

2 3 27   =====>    2327로 출력

2 3 7   ======> 2307로 출력   (번호가 10번미만이면 0을 붙여 출력)

In [27]:
g, c, n = input().split()

if int(n) < 10:
    n = '0' + n
    
print(g + c + n)

3 1 2
3102

학번을 입력 받아 다음 형식으로 출력하시오.

학번은 학년, 반, 번호로 입력된다.

이번에는 학년은 한자리, 반은 두자리, 번호는 세자리로 출력한다.

예)

2 1 20  ===> 201020  으로 출력

2 2 7 ==> 202007 으로 출력

2 3 100 ==>  203100 으로 출력

2 10 111 ==> 210111 로 출력

In [42]:
grade, group, number = input().split()
group = int(group)
number = int(number)

if(group < 10):
    group = '0' + str(group)

if(number < 10):
    number = '00' + str(number)
elif(number < 100):
    number = '0' + str(number)

student_number = grade + str(group) + str(number)

print(student_number)

3 6 123
306123