# 30903_김지우_0521_4

## 딕셔너리 : 사전
- 키와 값으로 구성됨
- {}를 이용

In [1]:
eng = {'break':'깨어지다', 'bring':'가져오다','brush':'붓','brave':'용감한'}
print(eng)

{'break': '깨어지다', 'bring': '가져오다', 'brush': '붓', 'brave': '용감한'}

In [2]:
print(eng['break'])

깨어지다

In [3]:
print(eng['brush'])
print(eng['brave'])

붓
용감한

In [6]:
menu = {'김밥':2500,'참치김밥':3500,'라면':3000,'치즈라면':4000}
eat = input('메뉴 : ')
print(f'{menu[eat]}원 입니다.')

메뉴 : 참치김밥
3500원 입니다.

In [7]:
menu['라면'] = 3500
menu['치즈라면'] = 4500

In [8]:
print(menu)

{'김밥': 2500, '참치김밥': 3500, '라면': 3500, '치즈라면': 4500}

In [9]:
menu['김밥'] += 500
print(menu)

{'김밥': 3000, '참치김밥': 3500, '라면': 3500, '치즈라면': 4500}

In [10]:
# 돈까스 6000 추가
menu['돈까스'] = 6000
print(menu)

{'김밥': 3000, '참치김밥': 3500, '라면': 3500, '치즈라면': 4500, '돈까스': 6000}

In [13]:
menu = {'김밥':2500,'참치김밥':3500,'라면':3000,'치즈라면':4000}
# 메뉴 및 가격을 input을 이용하여 추가하는 프로그램 만들기

name = input('메뉴 추가 : ')
price = int(input('가격 추가 : '))

menu[name] = price
print(menu)

메뉴 추가 : 돈까스
가격 추가 : 6000
{'김밥': 2500, '참치김밥': 3500, '라면': 3000, '치즈라면': 4000, '돈까스': 6000}

In [14]:
# 키 값을 삭제하기 delete

d = input('삭제할 메뉴 : ')

del menu[d]
print(menu)

삭제할 메뉴 : 돈까스
{'김밥': 2500, '참치김밥': 3500, '라면': 3000, '치즈라면': 4000}

In [15]:
print(menu.keys())

dict_keys(['김밥', '참치김밥', '라면', '치즈라면'])

In [16]:
# 딕셔너리의 값만 꺼내기
print(menu.values())

dict_values([2500, 3500, 3000, 4000])

In [17]:
print(list(menu.keys()))

['김밥', '참치김밥', '라면', '치즈라면']

In [18]:
print(menu.items())

dict_items([('김밥', 2500), ('참치김밥', 3500), ('라면', 3000), ('치즈라면', 4000)])

In [23]:
# 키를 기준으로 딕셔너리 정렬하기 : sorted()
# 역순 정렬 : reverse = True
# 키, 값을 쌍으로 묶어서 딕셔너리 정렬하기 : sorted().items()

print(sorted(menu.keys()))
print(sorted(menu.keys(), reverse = True))
print(sorted(menu.items()))

['김밥', '라면', '참치김밥', '치즈라면']
['치즈라면', '참치김밥', '라면', '김밥']
[('김밥', 2500), ('라면', 3000), ('참치김밥', 3500), ('치즈라면', 4000)]

In [28]:
import operator

print(sorted(menu.items(), key = operator.itemgetter(1)))
print(sorted(menu.items(), key = operator.itemgetter(1), reverse = True))
print(sorted(menu.items(), key = operator.itemgetter(1), reverse = True)[:2])

[('김밥', 2500), ('라면', 3000), ('참치김밥', 3500), ('치즈라면', 4000)]
[('치즈라면', 4000), ('참치김밥', 3500), ('라면', 3000), ('김밥', 2500)]
[('치즈라면', 4000), ('참치김밥', 3500)]

# 조건문으로 딕셔너리 다루기

In [29]:
midterm = {'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}
print(midterm)
student = input('학생 : ')

# if 어떤 학생인지 찾기
if student in midterm.keys():
    print(midterm[student],'입니다')
else:
    print('해당 학생은 없습니다. ')

{'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}
학생 : 도윤
43 입니다

In [32]:
midterm = {'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}

for i, j in midterm.items():
    if j >= 70:
        print(i, j)

하윤 82
시우 76
주원 94